<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.cms.mapper.PermissionMapper">

    <resultMap id="PermissionResultMap" type="org.example.cms.entity.Permission">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="menuType" column="type"/>
        <result property="code" column="code"/>
        <result property="path" column="path"/>
        <result property="parentId" column="parent_id"/>
        <result property="sort" column="sort"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getAllPermission" resultMap="PermissionResultMap">
        SELECT * FROM permission;
    </select>

</mapper>
